<!DOCTYPE html>
<html>
  {%set page_title = "View Graph: Total Number of Flights"%}
  {%set getChart = True%}
  {%include "header.html"%}
  <body>
    {% include "navbar.html" %}

    <div class="bg-img">
    </div>

    <div class="main-content">

      <h1>Total Number of Flights per Airline</h1>

      <div class="container">
        <canvas id="graphCanvas"></canvas>
      </div>

      <script type="text/javascript">
        var graphType = "flightsBar";
      </script>
      <script src="{{url_for('static', filename='render_graph.js')}}" charset="utf-8"></script>
    </div>
  </body>
</html>
