<!DOCTYPE html>
<html>
  {%set page_title = "View Graph: Airline Puncuality"%}
  {%set getChart = True%}
  {%include "header.html"%}
  <body>
    {% include "navbar.html" %}

    <div class="bg-img">
    </div>

    <div class="main-content">
      {% if airline == "!!!" %}
        <h1>Select an airline to view data on flight punctuality</h1>
      {% endif %}

      {%set options_type = "airline"%}
      {%set location = "byPunctualityView"%}
      {%include "selector.html"%}
      <br><br>
    </div>

    {% if not airline == "!!!" %}
      <div class="container">
        <canvas id="graphCanvas"></canvas>
      </div>


      <script type="text/javascript">
        var graphType = "breakdownPie";
        var airline = "{{airline}}";
      </script>
      <script src="{{url_for('static', filename='render_graph.js')}}" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
