<!DOCTYPE html>
<html lang="en" dir="ltr">
  {%set page_title = "Analysis of Airline Data: Weather Delays"%}
  {%include "header.html"%}

  <body>
    {% include "navbar.html" %}

    <div class="main-content">
      {% if airport == "!!!" %}
        <h1>Select an airport to view data on flight delays</h1>
      {% endif %}

      {%set options_type = "airport"%}
      {%set location = "byDelays"%}
      {%include "selector.html"%}
      <br><br>

      {% if not airport == "!!!" %}
        <h3>The airline with the most delays at {{airport}} is {{maxAirport}}</h3>
        <br>
        <h4>The following airlines had flights at this airport:</h4><br>
        <ul>
          {% for airline in delayData %}
            <li>{{airline}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </body>
</html>
