<!DOCTYPE html>
<html lang="en" dir="ltr">
  {%set page_title = "Analysis of Airline Data: Weather Delays"%}
  {%include "header.html"%}

  <body>
    {% include "navbar.html" %}

    <div class="main-content">
      <h4>{{topAirport}} has the most weather delays of any airport</h4>

      <h6>The following airports are ranked by their weather delays:</h6>
      <ul>
        {% for item in otherAirports %}
          <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
