<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% for item in navItems %}
        {% if "drp" in item["title"] %}
        {% set item2 = dropdowns[item['title']] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{item2[0]['title']}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% for item3 in item2[1:] %}
              <a class="dropdown-item {% if activePage == item3['page'] %}active{% endif %}" href="{{item3['page']}}">{{item3['title']}}</a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item" {%if activePage == item['id']%}class="active"{%endif%} ><a class="nav-link" href="{{item['page']}}">{{item['title']}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
